*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-principal: #EB2759;
    --color-secundary: #ECFF37;
    --color-terciario: #FFD432;
    --color-cuarto: #591902;
    --color-quintuple: #B243FF;
}

body{
    background-attachment: fixed;
    background-image: url(./Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    flex-direction: column;
}


ul, ol{
    list-style: none;
}

a{
    color: unset;
    text-decoration: none;
}

/*--------------------------------------------------------------*/

/*HEADER*/

header{
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: sticky;
    left: 100%;
    top: 0;
    width: 100%;
    z-index: 9999;
}
header:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header_menu{
    display: flex;
    gap: 20px;
}
.header_redes_sociales{
    display: flex;
    font-size: 30px;
    gap: 20px;
    justify-content: space-around;
}

img.logo_header_calavera{
    width: 70px;
}

/*iconos*/
.home_icon, .shop_icon, .look_for_icon{
    display: inline;
    width: 24px;
}

.header_menu a{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header_menu a:hover{
    color: rgba(219, 240, 237, 0.8);
    position: relative;
    text-decoration: underline;
    top: -5px;
}

/*---------------------------------------------------------*/
/*SUBMENU*/ 

.submenu{
    display: none;
}


/*----------------------------------------------------------*/
/*MAIN*/

main h3,p{
    color: var(--color-cuarto);
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

main img{
    width: 100%;
    object-fit: contain;
}

.tituloprincipal{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 35px;
    color: var(--color-principal);
    text-decoration: underline;
}

.listcards{
    display: flex;
    border-radius: 20px;
    text-align: center;
    gap: 100px;
}


article{
    background-color: rgba(245, 177, 212, 0.8);
    max-width: 1000px;
    width: 30%;
}



/*-----------------------------------------------------------*/
/*FOOTER*/
footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    z-index: 999;
} 
footer:hover{
    box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2) 
}

.footer_redes{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 20px;
    justify-content: flex-end;
    padding: 0 30px;
}

.derechos_autor{
    color: black;
    background-color: rgba(219, 240, 237, 0.8);
}


/*-----------------------------------------------------------------------------------------------*/

/* MEDIA QUERY*/


/*MOVIL*/
@media (max-width: 700px) {  

    /*.submenu{
        display: block;
    }
    .burgerMenu{
        width: 200px;
        position: absolute;
        right:  0;
        top: 0;
    }
    .visible{
        display: none;
    }
    .burgerMenu nav ul{
        flex-direction: column;
    }

    header nav{
        display: none;
    }*/
    
}
    

/*TABLETS*/
@media (max-width: 1200px){
    
}

/*ESCRITORIO (+1200PX)*/