/*ETIQUETAS GENERALES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-attachment: fixed;
    background-image: url(./Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul, ol{
    list-style: none;
}

a{
    color: unset;
    text-decoration: none;
}
audio{
    position: relative;
    bottom: -1020px;
    z-index: 9999;
}

/*--------------------------------------------------------------*/

/*HEADER*/

header{
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
header:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header_menu{
    display: flex;
    gap: 20px;
}
.header_redes_sociales{
    display: flex;
    font-size: 30px;
    gap: 20px;
    justify-content: space-around;
}

img.logo_header_calavera{
    width: 70px;
}

/*iconos*/
.home_icon,.look_for_icon{
    display: inline;
    width: 24px;
}

.header_menu a{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header_menu a:hover{
    color: rgba(219, 240, 237, 0.8);
    position: relative;
    text-decoration: underline;
    top: -5px;
}







/*--------------------------------------------------------*/

/*MAIN*/
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px;
}
article{
    background-color: rgba(227, 225, 226, 0.8);
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    width: 300px;

}
article:hover{
    box-shadow: -2px -2px 2px 1px black, 2px 2px 2px 1px black;
    z-index: 999;
    position: relative;
    top: -10px;
}

.seller{
    color: rgba(244, 0, 0, 0.8);
}

.price{
    align-items: center;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
}


.product{
    color: black
}

img.article{
    width: 100%;
}

.animate_animated{
    animation-duration: 1s;
}




/*----------------------------------------------------------*/

/*FOOTER*/
footer{
    background-color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    z-index: 999;
}
footer:hover{
    box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2) 
}

.footer_redes{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 20px;
    justify-content: flex-end;
    padding: 0 30px;
}

.derechos_autor{
    background-color: rgba(219, 240, 237, 0.8)
}


